@import "../variables";

.Sleek
{
    .epi-search--full-width {
        &.epi-searchInput {
            max-width: -webkit-calc(~"100% - 2px");
            max-width: calc(~"100% - 2px");
            width: auto;
            .epi-searchInput-mixin();
        }

        &.epi-contentSearchBox {
            .epi-contentSearchBox-mixin();
            &:before {
                margin-right: 4px;
            }
        }
    }
    .epi-gadgetInnerToolbar {

        margin-top: 16px;
        margin-bottom: 16px;
        padding-top: 0;
        padding-bottom: 0;

        // Overrides default search input icon
        .epi-searchInput {
            display:block;
            width: auto;
            .epi-searchInput-mixin()
        }

        .epi-contentSearchBox {
            .epi-contentSearchBox-mixin();
            margin-right: 0;
            margin-bottom: 0;
        }
    }
}
