/* Toolbar
 *
 * Styling Toolbar means styling the toolbar container and the widget inside toolbar  (dijitToolbar)
 *
 * 1. toolbar (default styling):
 * 		.dijitToolbar - styles for outer container
 *
 * 2. widget inside toolbar
 * 		.dijitToolbar .dijitButtonNode   - Button widget
 * 					  .dijitComboButton  - ComboButton widget
 * 					  .dijitDropDownButton  - DropDownButton widget
 * 					  .dijitToggleButton  - ToggleButton widget
 *
 * 3. hovered widget inside toolbar (ie, mouse hover on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeHover  - styles for hovered Button widget
 *
 * 4. actived widget inside toolbar (ie, mouse down on the widget inside)
 * 			.dijitToolbar .dijitButtonNodeActive  - mouse down on Button widget
 */

@import "variables";
@import (reference) "./epi/AxiomCommonIcons.less";
@import "@optimizely/design-tokens/dist/less/colors";


.Sleek .dijitToolbar {
	padding: 4px 6px;
    color: #4a4a4a;
	zoom: 1;
}

.Sleek .dijitToolbar label {
	padding: 0 3px 0 6px;
}

.dj_ie6 .Sleek .dijitToolbar {
	background-image: none;
}

.Sleek .dijitToolbarSeparator {
	/* separator icon in the editor sprite */
	background: url('../../patch/dijit/icons/images/editorIconsEnabled.png');
}

/* Toolbar inside of disabled Editor */
.Sleek .dijitDisabled .dijitToolbar {
	background: none;
	background-color: @disabled-background-color;
	border-bottom: 1px solid @disabled-border-color;
}

.Sleek .dijitToolbar .dijitComboBoxDisabled .dijitArrowButtonInner {
	background-position: 0 50%;
}

/*============================*/
/* Mixin */
/*============================*/
.newSquaredButtonStyle() {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

/*============================*/
/* EPi */
/*============================*/

.Sleek .epi-toolbar-unwrapped {
	background-color: @bar-background-color;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	padding: 4px 6px;
}

.Sleek {
    .epi-main-content {
        background-color: white;
         border-bottom: 1px solid hsl(0%,0%,84%);
    }

    .epi-globalToolbar {
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 12px 0;
        margin-left: 24px;
        margin-right:24px;

        &:focus {
            outline: none !important;
        }

        .epi-toolbarGroup {
            display: inline-flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: flex-end;
            row-gap: 4px;
            column-gap: 8px;

            &.epi-toolbarLeading {
                justify-content: flex-start;
            }
        }

        .epi-toolbarLeading {
            .dijitDropDownButton,
            .epi-leadingToggleButton,
            .dijitToolbarSeparator {
                margin-right: 0;
            }
            .epi-leadingToggleButton {
                .dijitButtonNode {
                    border-color: @epi-button-border-color;
                }
            }

            .epi-expandoMenuButton {
                .epi-mediumButton {
                    margin:0 3px 0 0;
                }
            }
            .epi-trailingToggleButton,
            .epi-leadingToggleButton,
            .create-experience-button {
                .dijitButtonContents {
                    .newSquaredButtonStyle();
                    padding: 0;
                    display: inline-block;
                }
                &.dijitChecked,
                &.dijitOpened {
                    .dijitButtonNode {
                        border: 1px solid @axiom-brand-primary-color;
                    }
                    .dijitIcon {
                        color: @axiom-brand-primary-color;
                    }
                }
            }
        }

        .dijitChecked {

            .epi-iconListTree,
            .epi-iconFolders,
            .epi-iconBubble {
                color: @axiom-brand-primary-color;
            }
        }

        .epi-mediumButton {
            &:last-child {
                margin-right: 0;
            }
            &.dijitDropDownButton {
                .dijitButtonContents {
                    padding: 0;
                    height: 32px;
                    display: inline-block;
                    line-height: 32px;
                }
            }


        }

        .toolbar-widget-container {
            display: inline-flex;
            height: 100%;
            max-height: 32px;
            align-items: center;

            &.top {
                align-items: start;
            }

            &.bottom {
                align-items: end;
            }

            &.center {
                align-items: center;
            }
        }

        .epi-toolbarTrailing {
            .comments-button {
                .newSquaredButtonStyle();
                margin: 0 !important;
                border: 1px solid @epi-button-border-color;
                border-radius: 4px;

                .epi-iconBubble {
                    font-size: 16px;
                    font-weight: inherit;
                    vertical-align: baseline;
                }
                .dijitButtonContents {
                    padding: 0 !important;
                }
                .dijitButtonNode {
                    width: 32px;
                    border: 0;
                }
                &.dijitChecked {
                background: @epi-selected-item;
                border: 1px solid @axiom-brand-primary-color;
                overflow: hidden;

                .dijitIcon {
                    color: @axiom-brand-primary-color;
                }
            }
            }

            .assets-pane-button {
                .dijitButtonNode {
                    .newSquaredButtonStyle();
                    margin: 0 !important;
                    border-color: @epi-button-border-color;
                }
                &.dijitChecked {
                    .dijitButtonNode {
                        border: 1px solid @axiom-brand-primary-color;
                    }
                }
                .dijitButtonContents {
                    padding: 0 !important;
                }
            }
            .epi-expandoMenuButton {
                .newSquaredButtonStyle();
                .dijitToggleButton {
                    padding: 0;
                    width: 32px;
                    text-align: center;
                    .dijitButtonContents {
                        padding: 0;
                        .epi-iconPreview {
                            vertical-align: baseline;
                        }
                    }
                }

            }
            .epi-notificationIcon {
                line-height: 32px;
                margin: 6px 0 0 0;
                font-weight: normal;
                &.epi-notificationIcon-Error,
                &.epi-notificationIcon-Warning,
                &.epi-notificationIcon-Note {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }
            .epi-trailingViewSwitchButton {
                .dijitDropDownButton {
                    margin: 0;
                    .dijitButtonContents {
                        padding: 0 12px;
                    }
                    &.dijitOpened {
                        .dijitButtonNode {
                            border: 1px solid @axiom-brand-primary-color;
                        }
                        .dijitIcon {
                            color: @axiom-brand-primary-color;
                        }
                    }
                }
            }
        }
    }

    .edit-action-panel {
        .epi-statusText {
            display: none;
        }

        .expanded {
            .epi-statusText {
                display: inline;
            }
        }
        .dijitDropDownButton {
            .dijitButtonNode {
                .dijitButtonContents {
                    .dijitButtonText {
                        padding: 0 10px 0 16px;
                        font-size: 13px;
                    }
                    .dijitArrowButtonInner {
                        padding-right: 10px;
                        width: auto;
                    }
                }
            }
            &.dijitOpened {
                .dijitButtonNode {
                    border: 1px solid @axiom-brand-primary-color;
                }
            }
        }


        .epi-statusIndicator {
             .newSquaredButtonStyle();
             .epi-statusContainer {
                padding: 0;
             }
            &.epi-statusIndicatorChangesToPublish,
            &.epi-statusIndicatorNotPublishedYet {
                & .epi-statusContainer .dijitIcon {
                    .epi-iconEdited
                }
            }

            &.epi-statusIndicatorReadyToPublish {
                & .epi-statusContainer .dijitIcon {
                    .epi-iconConfirmationCheckmark
                }
            }

            &.epi-statusIndicatorScheduledPublish {
                & .epi-statusContainer .dijitIcon {
                    .epi-iconClock
                }
            }

            &.epi-statusIndicatorInUse {
                & .epi-statusContainer .dijitIcon {
                    .epi-iconUser
                }
            }

            &.epi-statusIndicatorPublished {
                & .epi-statusContainer .dijitIcon {
                    .epi-iconPublished
                }
            }
            .epi-statusIndicator { margin-bottom: 10px; }
            .dijitIcon {
                .newSquaredButtonStyle();
                display: block;
                text-align: center;
            }
        }


        .epi-success .dijitArrowButtonInner {
            background: none;
        }

        .epi-toolbarTrailing {
         .epi-expandoMenuButton,
            .dijitToggleButton {
               .newSquaredButtonStyle();
            }
        }
    }


    .epi-localToolbar {
        border-bottom: 1px solid @border-color;
        height: auto;
        min-height: 42px;
        padding: 0;
        z-index: 800;
        width: 100%;
        .border-box();


        &:focus {
            outline: none !important;
        }

        .dijitToolbar {
            padding: 0;
        }

        .epi-toolbarLeading {
            width: 40%;
        }

        .epi-toolbarCenter {
            width: 20%;
        }

        .epi-toolbarTrailing {
            min-width: 349px;
            text-align: right;
            width: 40%;

            .epi-statusText {
                display: none;
            }

            .epi-statusContainer .dijitIcon {
                position: relative;
                top: 1px;
            }

			.epi-mediumButton { vertical-align: top; }
            .epi-viewSwitchButton {
                vertical-align: top;
                .dijitButton:last-child {
                    margin-right: 0;
                }
            }

        }
    }

    .epi-viewHeaderContainer {
        border-bottom: 1px solid @border-color;
        padding: 0 16px 8px 16px;
    }

    .epi-toolbarLeading h1 {
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        line-height: 1.2em;
        margin: 0;
        color: @text-color-soft;
        vertical-align: top;
        width: calc(100% - 22px);
        max-width: 400px;
    }

    .dijitToolbar.epi-toolbarBottom {
        background: @epi-toolbar-background;
        border-bottom: none;
        min-height: 17px;
    }

    .epi-toolbarGroupContainer {
        display: table;
        width: 100%;
        table-layout: fixed;

        &:focus {
            outline: none !important;
        }

        .epi-toolbarGroup {
            .border-box;
            display: table-cell;
            vertical-align: top;

            &:focus {
                outline: none !important;
            }
        }

        .epi-toolbarLeading {
            text-align: left;
            vertical-align: middle;
        }

        .epi-toolbarCenter {
            padding: 0;
            text-align: center;
        }

    }
    .epi-pinnableToolbar .epi-toolbarTrailing {
        padding: 0;
    }

    .epi-globalToolbar.dijitToolbar .epi-toolbarGroupContainer {
        .epi-toolbarLeading {
            width: 70%;
        }
        .epi-toolbarTrailing {
            min-width: 30px;
        }
    }
    .edit-toolbar {
        position: initial !important;
    }
    /* Shared Narrow & Medium Styles */
    .epi-editToolbarNarrow,
    .epi-editToolbarMedium {
        &.epi-localToolbar {
            .epi-toolbarLeading {
                padding-left: 16px;
            }
            .epi-toolbarTrailing {
                padding-right: 16px;
            }
        }
    }

    .epi-editToolbarLarge {
        &.epi-localToolbar {
            .epi-statusContainer .dijitIcon::before {
                font-size: 0;
            }
        }
    }
    /* Narrow styles */
    .epi-editToolbarNarrow.epi-localToolbar {
        height: auto;
        overflow: visible;
        padding-top: 38px;

        .epi-toolbarLeading,
        .epi-toolbarCenter,
        .epi-toolbarTrailing {
            display: block;
            height: auto;
        }

        .epi-toolbarLeading {
            .border-box;
            padding: 0 8px;
            text-align: left;
            width: 100%;
        }

        .epi-toolbarCenter {
            padding: 4px 8px 0;
            width: auto;
        }

        .epi-toolbarTrailing {
            .border-box;
            padding: 0 16px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }
    /* Medium styles */
    .epi-editToolbarMedium.epi-localToolbar {
        height: auto;
        overflow: visible;
        padding-top: 38px;

        .epi-toolbarLeading,
        .epi-toolbarCenter,
        .epi-toolbarTrailing {
            height: auto;
        }

        .epi-toolbarLeading {
            .border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
        }

        .epi-toolbarCenter {
            display: block;
            padding: 4px 8px 0;
            width: 100%;
        }

        .epi-toolbarTrailing {
            .border-box;
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
        }
    }
}

.Sleek {
	.epi-flatToolbar {
        background: @epi-flat-toolbar-background;
		border-bottom: 1px solid @border-color;
		padding: 8px 16px;
        min-height: 24px;

        .epi-flatButton.dijitButton {
            margin-right: 8px;
        }
	}
}
