<li class="epi-form-container__section__row epi-form-container__section__row--field">
    <div class="epi-form-container__section__label-container">
        <label class="epi-form-container__section__label" data-dojo-attach-point="labelNode">
            <span class="dijitInline dijitReset dijitIcon epi-iconPenDisabled" data-dojo-attach-point="readonlyIcon"></span>
            <span class="dijitInline dijitReset dijitHidden bound-property" data-dojo-attach-point="boundedIcon">
                <span class="dijitInline dijitReset dijitIcon epi-iconLink"></span>
            </span>
            <span class="epi-required-indicator dijitHidden dijitInline dijitReset" data-dojo-attach-point="requiredIcon"></span>
        </label>
        <div data-dojo-attach-point="propertyTooltip" class="epi-form-container__section__tooltip"></div>
    </div>
</li>
