@fa-font-path: "../axiom/icons/webfonts";
@import "../axiom/icons/less/light";
@import "../axiom/icons/less/solid";
@import "../axiom/icons/less/thin";
@import "../axiom/AxiomIcon";


// ICONS LIST SMALL
// Common Icons
.epi-iconPen                          { .epi-axiomIcon--small(@fa-var-pen); }
.epi-iconPenQuick                     { .epi-axiomIcon--small(@fa-var-pen-to-square); }
.epi-iconPenDisabled                  { .epi-axiomIcon--small(@fa-var-pen-slash); }
.epi-iconDnD                          { .epi-axiomIcon--small(@fa-var-grip-vertical); }
.epi-iconContextMenu                  { .epi-axiomIcon--small(@fa-var-ellipsis, @faSolid); }
.epi-iconUp                           { .epi-axiomIcon--small(@fa-var-arrow-up); }
.epi-iconDown                         { .epi-axiomIcon--small(@fa-var-arrow-down); }
.epi-iconTrash                        { .epi-axiomIcon--small(@fa-var-trash-can); }
.epi-iconUser                         { .epi-axiomIcon--small(@fa-var-user); }
.epi-iconUsers                        { .epi-axiomIcon--small(@fa-var-user-group); }
.epi-iconSearch                       { .epi-axiomIcon--small(@fa-var-search); }
.epi-iconLink                         { .epi-axiomIcon--small(@fa-var-link); }
.epi-iconUpload                       { .epi-axiomIcon--small(@fa-var-upload); }
.epi-iconMinus                        { .epi-axiomIcon--small(@fa-var-circle-minus); }
.epi-iconPlus                         { .epi-axiomIcon--small(@fa-var-plus); }
.epi-iconProject                      { .epi-axiomIcon--small(@fa-var-inbox-full); }
.epi-iconSort                         { .epi-axiomIcon--small(@fa-var-arrow-down-short-wide); }
.epi-iconRename                       { .epi-axiomIcon--small(@fa-var-pen); }
.epi-iconWebsite                      { .epi-axiomIcon--small(@fa-var-globe); }
.epi-iconClose                        { .epi-axiomIcon--small(@fa-var-xmark); }
.epi-iconHidden                       { .epi-axiomIcon--small(@fa-var-eye-slash); }
.epi-iconNewWindow                    { .epi-axiomIcon--small(@fa-var-arrow-up-right-from-square); }
.epi-iconRevert                       { .epi-axiomIcon--small(@fa-var-clock-rotate-left); }
.epi-iconEdited                       { .epi-axiomIcon--small(@fa-var-pen-line); }
.epi-iconConfirmationCheckmark        { .epi-axiomIcon--small(@fa-var-circle-check); }
.epi-iconVersions                     { .epi-axiomIcon--small(@fa-var-layer-group); }
.epi-iconRight                        { .epi-axiomIcon--small(@fa-var-check-double); }
.epi-iconBubble                       { .epi-axiomIcon--small(@fa-var-comment); }
.epi-iconReload                       { .epi-axiomIcon--small(@fa-var-arrows-rotate); }
.epi-iconCheckmark                    { .epi-axiomIcon--small(@fa-var-check); }
.epi-iconPublished                    { .epi-axiomIcon--small(@fa-var-circle-play); }
.epi-iconClock                        { .epi-axiomIcon--small(@fa-var-clock); }
.epi-iconDownload                     { .epi-axiomIcon--small(@fa-var-download); }
.epi-iconGlasses                      { .epi-axiomIcon--small(@fa-var-glasses-round); }
.epi-iconStop                         { .epi-axiomIcon--small(@fa-var-ban); }
.epi-iconInfo                         { .epi-axiomIcon--small(@fa-var-circle-info); }
.epi-iconWarning                      { .epi-axiomIcon--small(@fa-var-triangle-exclamation); }
.epi-iconError                        { .epi-axiomIcon--small(@fa-var-circle-exclamation); }
.epi-iconLock                         { .epi-axiomIcon--small(@fa-var-lock); }
.epi-iconObjectStart                  { .epi-axiomIcon--small(@fa-var-house-blank);}
.epi-iconSettingsMenu,
.epi-iconSettings                     { .epi-axiomIcon--small(@fa-var-gear); }
.epi-iconPin                          { .epi-axiomIcon--small(@fa-var-thumbtack); }
.epi-iconTree                         { .epi-axiomIcon--small(@fa-var-folder-tree); }
.epi-iconListTree                     { .epi-axiomIcon--small(@fa-var-list-tree); }
.epi-iconFolders                      { .epi-axiomIcon--small(@fa-var-folders); }
.epi-iconPrimary                      { .epi-axiomIcon--small(@fa-var-check); }
.epi-iconCut                          { .epi-axiomIcon--small(@fa-var-scissors); }
.epi-iconCopy                         { .epi-axiomIcon--small(@fa-var-copy); }
.epi-iconPaste                        { .epi-axiomIcon--small(@fa-var-paste); }
.epi-iconApproval                     { .epi-axiomIcon--small(@fa-var-list-check); }
.epi-iconForms                        { .epi-axiomIcon--small(@fa-var-list); }
.epi-iconLayout                       { .epi-axiomIcon--small(@fa-var-table-layout); }
.epi-iconDevice                       { .epi-axiomIcon--small(@fa-var-laptop-mobile); }
.epi-iconPreview                      { .epi-axiomIcon--small(@fa-var-eye); }
.epi-iconBell                         { .epi-axiomIcon--small(@fa-var-bell); }
.epi-iconSharedBlock                  { .epi-axiomIcon--small(@fa-var-square-poll-horizontal); }
.epi-iconCreateSharedBlock            { .epi-axiomIcon--small(@fa-var-square-plus); }
.epi-iconCreateForm                   { .epi-axiomIcon--small(@fa-var-pen-field); }
.epi-iconUndo                         { .epi-axiomIcon--small(@fa-var-rotate-left); }
.epi-iconRedo                         { .epi-axiomIcon--small(@fa-var-rotate-right); }
.epi-iconCategory                     { .epi-axiomIcon--small(@fa-var-folder-bookmark); }
.epi-iconPrice,
.epi-iconPricing                      { .epi-axiomIcon--small(@fa-var-money-bill); }
.epi-iconPackage                      { .epi-axiomIcon--small(@fa-var-box); }
.epi-iconPromotion                    { .epi-axiomIcon--small(@fa-var-badge-percent); }
.epi-iconReferences,
.epi-iconRelations                    { .epi-axiomIcon--small(@fa-var-share-nodes); }
.epi-iconProduct                      { .epi-axiomIcon--small(@fa-var-cube); }
.epi-iconBoxes                        { .epi-axiomIcon--small(@fa-var-cubes); }
.epi-iconList                         { .epi-axiomIcon--small(@fa-var-list); }
.epi-iconThumbnails                   { .epi-axiomIcon--small(@fa-var-image); }
.epi-iconThumbnailsDisabled           { .epi-axiomIcon--small(@fa-var-image-slash); }
.epi-iconDetach                       { .epi-axiomIcon--small(@fa-var-link-horizontal-slash); }
.epi-iconFolder                       { .epi-axiomIcon--small(@fa-var-folder); }
.epi-iconBundle,
.epi-iconFolderBundle                 { .epi-axiomIcon--small(@fa-var-boxes-stacked); }
.epi-iconSKU                          { .epi-axiomIcon--small(@fa-var-barcode); }
.epi-iconLeft                         { .epi-axiomIcon--small(@fa-var-arrow-left-long); }
.epi-iconRectangleList                { .epi-axiomIcon--small(@fa-var-rectangle-list); }
.epi-iconLanguage                     { .epi-axiomIcon--small(@fa-var-language)}
.epi-iconAnglesUp                   { .epi-axiomIcon--small(@fa-var-angles-up)}
.epi-iconLayerGroup                    { .epi-axiomIcon--small(@fa-var-layer-group); }

// Object Icons
.epi-iconObjectSharedBlock 			  { .epi-axiomIcon--small(@fa-var-square-poll-horizontal); }
.epi-iconPage,
.epi-iconObjectPage                   { .epi-axiomIcon--small(@fa-var-file); }
.epi-iconCreatePage                   { .epi-axiomIcon--small(@fa-var-file-plus); }
.epi-iconObjectImage                  { .epi-axiomIcon--small(@fa-var-image); }
.epi-iconObjectUnknown                { .epi-axiomIcon--small(@fa-var-file-exclamation); }
.epi-iconObjectCSV                    { .epi-axiomIcon--small(@fa-var-file-csv); }
.epi-iconObjectPDF                    { .epi-axiomIcon--small(@fa-var-file-pdf); }
.epi-iconObjectDOC                    { .epi-axiomIcon--small(@fa-var-file-word); }
.epi-iconObjectDOCX                   { .epi-axiomIcon--small(@fa-var-file-word); }
.epi-iconObjectXLS                    { .epi-axiomIcon--small(@fa-var-file-spreadsheet); }
.epi-iconObjectXLSX                   { .epi-axiomIcon--small(@fa-var-file-spreadsheet); }
.epi-iconObjectZIP                    { .epi-axiomIcon--small(@fa-var-file-zipper); }
.epi-iconObjectRAR                    { .epi-axiomIcon--small(@fa-var-file-zipper); }
.epi-iconObject7Z                     { .epi-axiomIcon--small(@fa-var-file-zipper); }
.epi-iconObjectFolderOpen             { .epi-axiomIcon--small(@fa-var-folder-open); }
.epi-iconObjectContainer              { .epi-axiomIcon--small(@fa-var-folder-blank); }
.epi-iconObjectInternalLink           { .epi-axiomIcon--small(@fa-var-file-export); }
.epi-iconObjectExternalLink           { .epi-axiomIcon--small(@fa-var-arrow-up-right-from-square); }
.epi-iconObjectNoLink                 { .epi-axiomIcon--small(@fa-var-circle-exclamation); }
.epi-iconObjectFetchContent           { .epi-axiomIcon--small(@fa-var-file-import); }
.epi-iconObjectFolder,
.epi-iconObjectFolderAllSites,
.epi-iconObjectFolderThisSite,
.epi-iconObjectPageContextual,
.epi-iconObjectSharedBlockContextual,
.epi-iconObjectContainerContextual,
.epi-iconFolder,
.epi-iconObjectRoot                   { .epi-axiomIcon--small(@fa-var-folder); }
.epi-iconFolderPlus                   { .epi-axiomIcon--small(@fa-var-folder-plus); }
.epi-iconObjectProject                { .epi-axiomIcon--small(@fa-var-inbox-full); }
.epi-iconObjectPromotion              { .epi-axiomIcon--small(@fa-var-badge-percent); }
.epi-iconObjectVideo                  { .epi-axiomIcon--small(@fa-var-video); }
.epi-iconObjectBundle                 { .epi-axiomIcon--small(@fa-var-boxes-stacked); }
.epi-iconObjectStart                  { .epi-axiomIcon--small(@fa-var-house-blank); }
.epi-iconObjectVariation              { .epi-axiomIcon--small(@fa-var-barcode); }
.epi-iconObjectCatalog                { .epi-axiomIcon--small(@fa-var-book); }
.epi-iconObjectItem                   { .epi-axiomIcon--small(@fa-var-cube); }
.epi-iconObjectCart                   { .epi-axiomIcon--small(@fa-var-cart-shopping); }
.epi-iconObjectTruck                  { .epi-axiomIcon--small(@fa-var-truck); }
.epi-iconObjectPackage                { .epi-axiomIcon--small(@fa-var-box); }
.epi-iconObjectCategory               { .epi-axiomIcon--small(@fa-var-folder-bookmark); }
.epi-iconObjectSection                { .epi-axiomIcon--small(@fa-var-pipe-section); }

// Custom Icons
.epi-iconCompare {
    font-size: @epi-axiomIcon-size-small;
    display: inline-block;
    width: 1.25em;
    height: 1em;
    background: url('../axiom/icons/custom/ax-compare.svg') no-repeat;
}
.epi-iconCompare.epi-icon--active {
    background: url('../axiom/icons/custom/ax-compare-active.svg') no-repeat;
}

.epi-icon-compare--left {
    background: url('../axiom/icons/custom/ax-compare-left.svg') no-repeat;
}

.epi-icon-compare--right {
    background: url('../axiom/icons/custom/ax-compare-right.svg') no-repeat;
}

.epi-icon-compare--both {
    background: url('../axiom/icons/custom/ax-compare-both.svg') no-repeat;
}

//ICONS LIST LARGE
.epi-icon--large {
    font-size: @epi-axiomIcon-size-large;
    .fa-thin;
}

//ICONS LIST MEDIUM
.epi-icon--medium {
    font-size: @epi-axiomIcon-size-medium;
    .fa-thin;
}
